.avatar{
	width: .38rem;
	height: .38rem;
	margin-right: .06rem;
	border-radius: 100%;
}
.v1-artist-bar{
	font-size: 0.12rem;
	line-height: .16rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	.label{
		color: $fc-label;
	}
	.name{
		color: $fc-title;
		margin-top: .04rem;
	}
}