@import "./normalize.css";
@import "./common.scss";
@import "./artist.scss";
@import "./panel.scss";
@import "./order.scss";
@import "./btn.scss";
@import "./mine.scss";
@import "./flex.scss";
@import "./color.scss";
@import "./mine.scss";
$vm_fontsize: 100;
$vm_design: 750;

html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: ($vm_fontsize / ($vm_design / 2)) * 100vw;

    // 同时，通过Media Queries 限制根元素最大最小值
    @media screen and (max-width: 320px) {
        font-size: 64px;
    }

    @media screen and (min-width: 541px) {
        font-size: 100px;
    }
}

body {
    font-size: 0.12rem;
}
+
* {
    box-sizing: border-box;
}